<div class="form-group row">
  <label class="col-sm-3 form-control-label">Kode Bass :</label>
  <div class="col-sm-5">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="searchBass"
        (change)="textChange()"
      />
      <span class="input-group-btn">
        <button
          class="btn btn-primary btn-sm"
          type="button"
          (click)="showModal()"
        >
          ...
        </button>
      </span>
    </div>
  </div>
</div>

<p-dialog
  header="List Bass"
  [(visible)]="display"
  modal="modal"
  responsive="true"
  width="1300"
  height="800"
  appendTo="body"
  draggable="false"
  closeOnEscape="false"
  closable="false"
>
  <div [ngBusy]="busyLoaderEvent"></div>
  <div class="widgets">
    <div class="row">
      <ba-card baCardClass="with-scroll">
        <p-table
          [value]="datas"
          [responsive]="true"
          [rows]="5"
          [paginator]="true"
          [pageLinks]="5"
          selectionMode="single"
          [(selection)]="selectedBass"
          (onRowSelect)="onRowSelect($event)"
          style="color: black"
          [globalFilterFields]="['KODE_BASS','NAMA_BASS']"
          autoLayout="true"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th
                style="color: black"
                pResizableColumn
                [pSortableColumn]="'KODE_BASS'"
              >
                Kode Bass
              </th>
              <th
                style="color: black"
                pResizableColumn
                [pSortableColumn]="'NAMA_BASS'"
              >
                Nama Bass
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr [pSelectableRow]="data">
              <td
                class="ui-resizable-column"
                style="position: relative; color: black"
              >
                <div>{{ data["KODE_BASS"] }}</div>
              </td>
              <td
                class="ui-resizable-column"
                style="position: relative; color: black"
              >
                <div>{{ data["NAMA_BASS"] }}</div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="100">No Records Found</td>
            </tr>
           </ng-template>
        </p-table>
        <!-- <p-dataTable [value]="datas" [responsive]="true" [stacked]="stacked" [rows]="5" [paginator]="true" [pageLinks]="5" [style]="{'color':'black'}"
                    selectionMode="single" [(selection)]="selectedBass" (onRowSelect)="onRowSelect($event)">
                    <p-column field="KODE_BASS" header="Kode Bass" [sortable]="true" [filter]="true" filterPlaceholder="Cari Kode Bass" filterMatchMode="contains"></p-column>
                    <p-column field="NAMA_BASS" header="Nama Bass" [sortable]="true" [filter]="true" filterPlaceholder="Cari Nama Bass" filterMatchMode="contains"></p-column>
                </p-dataTable> -->
      </ba-card>
    </div>
  </div>
</p-dialog>
